*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #840a2c;
    color: #b6933a;
    text-align: center;
    padding: 50px;
}



header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.container{
    background-color: pink;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.botao {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .botao:hover {
    background-color: #3e8e41; 
    color: black; 
    border: 1px solid black; 
  }

footer{
    margin-top: 140px;
    background-color: #097070;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu li a{
    list-style: none;
    color: rgb(228, 255, 228);
    text-decoration: none;
    font-weight: bold;
}

ul li {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-type: lower-roman;
    list-style-position: inside;
}

li:hover {
    background-color: #d91a1a;
}

.menu li{
    text-decoration: none;
}

.imagem-exemplo{
    display: block;
    margin: 20px auto;
    width: 70%;
    max-width: 400px;
    border-radius: 6px;
}