body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
}

header {
    background-color: #7932c6;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative
}

.header-left {
    flex: 1;
    text-align: left;
}

h1 {
    margin: 0;
}


nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 10px;   
}

.search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.post-image {
    width: 100%;
    max-width: 500px; 
    display: block;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px;
}

.post-text-box {
    flex: 2;
    max-width: 600px;
}

.profile-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.post-text-box h2, 
.post-text-box h3, 
.post-text-box p, 
.post-text-box a {
    max-width: 600px; 
}

.post-text-box a {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.post-text-box a:hover {
    background-color: #555;
}

.profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding: 20px; 
    font-size: 14px; 
    margin-top: 20%;
    gap: 15px;
    max-width: 400px;
    margin-left: auto;
}

.profile-container h2 {
    font-size: 18px; 
}

.profile-container img {
    max-width: 120px; 
    border-radius: 10px;
    margin-top: 10px;
}

.profile-text {
    max-width: 250px;
    line-height: 1.5;
}

html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

footer {
    background-color: #d1b3ff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

footer a {
    color: rgb(45, 81, 45);
    text-decoration: none;
    margin: 0 20px;
}

footer a:hover {
    color: #968282;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.search-bar input {
    padding: 10px;
    width: 250px;
    border: 2px solid #7239C6;
    border-radius: 5px;
    outline: none;
}

.search-bar button {
    background-color: #7239C6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.search-bar button:hover {
    background-color: #5A2EA6;
}