body{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img{
    border-radius: 50%;
    margin-top: 20px;
}

footer{
    margin-top: 30px;
    color: rgb(27, 17, 91);
}